body{min-width: 677px;}
/*登陆页面*/
h1{text-align: center;}
.log input{
	display: block;
	margin: 10px auto;
}
form.log{
	width: 300px;
	padding: 10px;
	margin: auto;
	border: 1px black solid;
}
/*主页*/
nav{
	display: flex;
	align-items: center;
}
nav h2{
	flex: 1;
}
nav form{
	flex: 3;
	text-align: center;
}
aside{
	float: left;
	width: 15%;
	margin-left: 10%;
}
aside ul{border: 1px black solid;}
section{
	float: right;
	width: 60%;
	margin-right: 10%;
}
section form div{
	border: 1px black solid;
}
section form input[type="text"]{
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px black solid;
}
section form textarea{
	border: 0;
	width: 100%;
	resize: none;
}
section input[type="text"],textarea{
	box-sizing: border-box;
	outline: 0;
	padding: 10px;
}
article .b-t{
	display: flex;
	align-items: center;
	justify-content: space-between;
}